<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css">   
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form action="">
            <input type="text" placeholder="Location">
            <button id="manual-search">Search</button>
            <button id="local-search">Search using my current location</button>
        </form>

        <p id="message-one"></p>
        <p id="message-two"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>